<h1><%= @meetup.name %></h1>
<h2><%= @meetup.location %></h2>
<h2><%= @meetup.description %></h2>

<h2>Attendees</h2>
<ul>
  <% @meetup.users.each do |user| %>
    <li><img id="avatar<%= user.id %>" src="<%= user.avatar_url %>"/><%= user.username %></li>
  <% end %>
</ul>

<form class="join_meetup" action="/meetups/<%= @meetup.id %>/join" method="post">
  <button type="submit" id="join-meetup" name="join_meetup">Join</button>
</form>
