<h1><%= @current_meetup.name %></h1>
<h2><%= @current_meetup.location %></h2>
<h2><%= @current_meetup.description %></h2>

<h2>Attendees</h2>
<ul class="attendees">

  <% @active_attendees.each do |attendee| %>
    <li><img id="avatar<%= attendee.user.id %>" class="avi" src="<%= attendee.user.avatar_url %>"/><br/>
    <%= attendee.user.username %></li>
  <% end %>
</ul>

<form class="join_meetup" action="/meetups/<%= @current_meetup.id %>/join" method="post">
  <button type="submit" id="join-meetup" name="join_meetup"><%= @button_message %></button>
</form>
